@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    color: #dfcba8;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "header header"
        "menu main";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

header {
    grid-area: header;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

header p {
    font-size: 1.5em;
    font-weight: 500;
}

.menu {
    grid-area: menu;
    background-color: #e5d2b2;
    display: flex;
    flex-direction: column;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu nav {
    margin-top: 15px;
}

.menu li {
    margin-bottom: 15px;
}

.menu a {
    display: block;
    padding: 12px 0;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    transition: 0.2s;
}

.menu a:hover {
    transform: translateY(-1.5px);
    transition: 0.2s;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
